:root {
  --textfont: 'Eina 01';
  --whiteprimary: #ffffff;
  --blueprimary: #1600d5;
}

.bot-name {
  color: var(--whiteprimary);
  font-size: 18px;
  padding-bottom: 25px;
  font-family: var(--textfont);
  font-style: normal;
  font-weight: 600;
}

.user-name {
  color: var(--whiteprimary);
  font-size: 14px;
  font-family: var(--textfont);
  font-style: normal;
  font-weight: 600;
  padding-bottom: 6px;
}

.enter-btn {
  background-color: var(--whiteprimary);
  color: var(--blueprimary);
  padding: 7px 25px 5px 25px;
  border: var(--whiteprimary);
  border-radius: 100px;
  font-size: 16px;
  font-family: var(--textfont);
  font-style: normal;
  font-weight: 600;
}
