.bot-name {
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 25px;
  font-family: 'Eina 01';
  font-style: normal;
  font-weight: 600;
}

.user-name {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Eina 01';
  font-style: normal;
  font-weight: 600;
  padding-bottom: 6px;
}

.enter-btn {
  background-color: #ffffff;
  color: #001b96;
  padding: 7px 25px 5px 25px;
  border: #ffffff;
  border-radius: 100px;
  font-size: 16px;
  font-family: 'Eina 01';
  font-style: normal;
  font-weight: 600;
}
